<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtyJ_KbHtGRZLb_BWN8tvdJcluuJ_LkNo</string>
	<key>GCM_SENDER_ID</key>
	<string>317333936121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naningana</string>
	<key>PROJECT_ID</key>
	<string>flutter-naningana</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-naningana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317333936121:ios:277d5e3700babfbf53cf28</string>
</dict>
</plist>